main {
  margin-top: 30px;
}

.company-about {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  margin: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
  justify-content: space-between;
}

.content-wrapper-top {
  margin-top: 0px;
}

.content-text {
  max-width: 600px;
  padding: 0 10px;
}

.intro-text {
  font-size: 1.1em;
}

.content-wrapper p {
  text-align: left;
}

.img-holder {
  max-width: 600px;
}

.higlighted {
  text-align: center;
  font-size: 1.4em;
}

.signature {
  font-weight: 600;
  text-transform: uppercase;
}
