label::after {
  content: "";
  display: block;
}

header i {
  font-size: 1.8em;
}

.minimal {
  padding-left: 20px;
}

.checkout-container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

p {
  text-transform: uppercase;
}

label {
  text-transform: uppercase;
}

.progress-bar {
  display: flex;
  border-bottom: 1px solid var(--color-footer);
  justify-content: space-around;
}

.checkout-current {
  font-weight: 600;
}

.checkout-not-current {
  color: #757575;
}

.checkout-details {
  max-width: 305px;
  margin: 25px 0;
}

.form__input {
  display: block;
  margin: 10px 0 20px 0;
}

input[type="radio"] {
  margin: 10px;
}

input[type="text"] {
  width: 80%;
}

#country {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--color-text-headings);
  height: 30px;
  width: 150px;
}

.checkout-price {
  margin: 50px 0;
}

.checkout-price p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0;
}

.checkout-delivery-container {
  border: 1px solid var(--color-button);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.checkout-methods {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.free {
  font-weight: 600;
  text-transform: uppercase;
}

.delivery-time {
  margin: 0;
}

/* review & pay */
.checkout-process {
  margin-top: 40px;
}

#cardtype {
  margin: 10px 0 20px 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--color-text-headings);
  height: 30px;
  width: 150px;
}

#cvc,
#expiry {
  width: 100px;
}

.checkout-order-summary {
  display: flex;
}

.checkout-order-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.bold {
  font-weight: 600;
  font-size: 1.1em;
}
