.container {
  max-width: 400px;
  padding: 0 10px;
  margin: auto;
}

.container-contact {
  margin-bottom: 40px;
}

.container-contact h1 {
  text-align: center;
}

.container h2 {
  font-size: 1.3rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.contact-content h2 {
  padding-left: 20px;
}

.contact-chat {
  display: flex;
  align-items: center;
}

.phone {
  text-decoration: underline;
}

.contact-chat i {
  font-size: 3rem;
}

.container-contact p {
  max-width: 400px;
  margin-top: 0px;
}

.customer-questions {
  padding: 0 10px;
  margin-bottom: 100px;
}

.questions-row {
  border-bottom: 1px solid #000;
}

.row-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-details i {
  font-size: 2em;
}
