.hero {
  background: url(/images/homepage/hero.jpg) center top no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.hero-content {
  text-align: center;
  padding-top: 5px;
}

.hero-content h1 {
  padding: 0 5px;
}

.hero-text {
  margin-bottom: 35px;
}

.second-line {
  line-height: 0;
}

.hero-btn {
  margin-top: 30px;
}

/* About */
.about {
  margin: 40px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.about-content-img {
  max-width: 600px;
  margin: 0 auto;
}

.about-content {
  text-align: center;
}

.about-content-text {
  display: flex;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

/* Promotions */
.promotions {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.promotions-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0 5px;
}

.promotions-item {
  /* margin: 30px; */
}

.promotions-item-title {
  text-align: center;
}

.promotions-cta {
  margin-top: 20px;
}

.details {
  max-width: 1000px;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
}

.details a {
  font-weight: 600;
  padding: 0 5px;
}

/* Footer */
footer {
  background-color: var(--color-footer);
  padding: 0 5px;
}

footer h3,
a {
  font-size: 0.9em;
}

footer h3 {
  font-weight: 600;
}

footer a {
  margin-top: 5px;
  text-transform: none;
}

.footer-content {
  max-width: 1000px;
  display: flex;
  margin: 25px auto;
  flex-direction: column;
}

footer a {
  display: block;
}

.form__input {
  min-height: 30px;
  border-radius: 5px;
  border: 1px solid #565956;
  display: block;
  margin-top: 5px;
}

.footer-bottom {
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer i {
  padding-right: 15px;
}

.footer-bottom-media {
  font-size: 1.6em;
}

.footer-bottom-social {
  margin-bottom: 20px;
}
