main img {
  width: 100%;
}

.hero {
  background: url(/images/homepage/hero.jpg) center top no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.hero-content {
  text-align: center;
  padding-top: 5px;
}

.hero-content h1 {
  padding: 0 5px;
}

.hero-text {
  margin-bottom: 35px;
}

.second-line {
  line-height: 0;
}

.hero-btn {
  margin-top: 30px;
}

/* About */
.about {
  margin: 40px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.about-content-img {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 5px;
  flex: 2;
}

.about-content {
  text-align: center;
  padding-right: 5px;
  flex: 1;
}

.about-content-text {
  display: flex;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

/* Promotions */
.promotions {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.promotions-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0 5px;
}

.promotions-item img {
  max-width: 400px;
}

.promotions-item-title {
  text-align: center;
}

.promotions-cta {
  margin-top: 20px;
}

.details {
  max-width: 1000px;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
}

.details a {
  font-weight: 600;
  padding: 0 5px;
}
