.jacket-specific {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.jacket-specific img {
  width: 100%;
}

.showcase-img h3 {
  padding: 0 10px;
  font-size: 0.8em;
}

.showcase-img {
  margin: 0;
  max-width: 600px;
}

.jacket-thumbnails {
  display: none;
}

/* .jacket-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 5px;
} */

.jacket-details {
  padding: 0 10px;
}

.jacket-details i {
  font-size: 1.5em;
  color: var(--color-button);
}

.reviews-link {
  display: block;
  text-decoration: underline;
  padding: 10px 0;
  color: var(--color-button);
}

.size-selection {
  display: flex;
  gap: 12px;
}

.questions-row-info {
  max-width: 600px;
}
.questions-row-info p {
  text-transform: uppercase;
}
