@media (min-width: 800px) {
  nav {
    display: block;
    position: static;
  }
  header {
    justify-content: space-around;
  }
  .logo-container-header {
    padding-left: 0px;
  }
  nav li {
    display: inline-block;
    padding: 0 20px;
  }
  .shopping-info {
    display: block;
  }
  header label {
    display: none;
  }
  .hero {
    min-height: 80vh;
  }
  .hero-content {
    position: absolute;
    text-align: left;
    top: 75px;
    left: 75px;
  }
  .hero-content h1 {
    padding: 0;
  }
  .about {
    flex-direction: row;
    padding: 0 5px;
  }
  .about-content {
    margin-top: 25px;
    margin-left: 20px;
  }
  .promotions {
    /* display: flex;
      flex-direction: row; */
  }
  .promotions-content {
    flex-direction: row;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 600px;
  }
  .footer-bottom-copy {
    display: block;
  }
  .content-wrapper {
    flex-direction: row;
  }
  .content-text {
    max-width: 300px;
    padding: 0 30px;
  }
  .content-wrapper-second {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1000px) {
  .hero {
    background-image: url(/images/homepage/hero-big.jpg);
    min-height: 100vh;
  }
  .hero-content {
    position: absolute;
    text-align: left;
    top: 100px;
    left: 100px;
  }
  .about-content {
    margin-top: 80px;
    margin-left: 50px;
  }
  .contact-page {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 150px;
    padding: 0 50px 0 100px;
  }
  .container-questions {
    margin-left: 0px;
    margin-right: 0px;
    border-right: 1px solid;
    padding-right: 30px;
  }
  .container-questions h2 {
    margin-top: 22.264px;
    margin-bottom: 30px;
  }
  .container-contact {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .container-contact h1 {
    text-align: left;
    margin-bottom: 30px;
  }
}
