/* Global styles */
@import "imports/links.css";
@import "imports/variables.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  min-height: 80vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
.logo {
  font-family: var(--text-heading), Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-text-headings);
}

.logo-container-header {
  display: flex;
  padding-left: 80px;
}

.logo {
  font-size: 1.6em;
  font-weight: 600;
  display: flex;
}

.svg {
  max-width: 2.5em;
  margin-left: 5px;
  align-self: baseline;
}

header {
  display: flex;
  align-items: center;
  height: 52.5px;
}

nav {
  display: none;
  position: absolute;
  top: 42.3px;
  background: var(--color-background-white);
  left: 0px;
}

.shopping-info {
  display: none;
}

nav li {
  display: block;
  padding: 20px 30px;
}

#hamburger-menu {
  display: none;
}

.fas.fa-bars {
  font-size: 1.4em;
}

.fas.fa-bars:hover {
  font-size: 1.5em;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

header a:hover {
  font-weight: 600;
}

header i {
  padding: 10px;
}

.shopping-info {
  font-size: 1.2em;
}

i.far.fa-heart {
  color: var(--color-button);
}

img {
  width: 100%;
}
