/* Global styles */
@import "imports/links.css";
@import "imports/variables.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  min-height: 80vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
.logo {
  font-family: var(--text-heading), Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-text-headings);
}

.logo-container-header {
  display: flex;
  padding-left: 80px;
}

.logo {
  font-size: 1.6em;
  font-weight: 600;
  display: flex;
}

.svg {
  max-width: 2.5em;
  margin-left: 5px;
  align-self: baseline;
}

header {
  display: flex;
  align-items: center;
  height: 52.5px;
  /* border-bottom: 1px solid var(--color-footer); */
}

nav {
  display: none;
  position: absolute;
  top: 42.3px;
  background: var(--color-background-white);
  left: 0px;
}

.shopping-info {
  display: none;
}

nav li {
  display: block;
  padding: 20px 30px;
}

.active {
  font-weight: 600;
}

#hamburger-menu {
  display: none;
}

.fas.fa-bars {
  font-size: 1.4em;
}

.fas.fa-bars:hover {
  font-size: 1.5em;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

header a:hover {
  font-weight: 600;
}

header i {
  padding: 10px;
}

.shopping-info {
  font-size: 1.2em;
}

i.far.fa-heart {
  color: var(--color-button);
}

.color-container {
  display: flex;
  gap: 10px;
}

.jacket-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.jacket-color_black {
  background-color: black;
}

.jacket-color_red {
  background-color: red;
}

.jacket-color_blue {
  background-color: blue;
}

.size-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: var(--color-button);
  border-color: var(--color-button);
  border-radius: 5px;
  font-size: 1em;
}

.size-btn:hover {
  background-color: var(--color-button);
  color: #fff;
}

.size-btn-selected {
  background-color: var(--color-button);
  color: #fff;
}

.questions-row {
  border-bottom: 1px solid #000;
}

.row-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-details i {
  font-size: 2em;
}

.fa-angle-left {
  font-size: 2em;
}

.minimal {
  padding-left: 20px;
}

.checkout-container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.checkout-current {
  font-weight: 600;
}

.checkout-not-current {
  color: #757575;
}

footer {
  background-color: var(--color-footer);
  padding: 0 5px;
}

footer h3,
a {
  font-size: 0.9em;
}

footer h3 {
  font-weight: 600;
}

footer a {
  margin-top: 5px;
  text-transform: none;
}

.footer-content {
  max-width: 1000px;
  display: flex;
  margin: 25px auto;
  flex-direction: column;
}

footer a {
  display: block;
}

.form__input {
  min-height: 30px;
  border-radius: 5px;
  border: 1px solid #565956;
  display: block;
  margin-top: 5px;
}

.footer-bottom {
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer i {
  padding-right: 15px;
}

.footer-bottom-media {
  font-size: 1.6em;
}

.footer-bottom-social {
  margin-bottom: 20px;
}

.petite {
  min-height: 150px;
  margin-top: 50px;
}

.footer-social-media {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.petite h3 {
  text-align: center;
}

.footer-social-media i {
  padding: 0;
  font-size: 2rem;
}
