:root {
  --text-heading: "Ralway";
  --text-paragraph: "Source Sans Pro";
  --color-text-headings: #13131b;
  --color-button: #455a69;
  --color-button-hover: #2f4352;
  --color-background-white: #fff;
  --color-footer: #f2f2f2;
}
